<h1 class="page-title">Lista visite</h1>
<div id="main">
  <div class="container">
    <div class="box clearfix">
      <div class="table-responsive">
        <table class="list-group" style="width:100%">
          <tr>
            <th>Nome</th>
            <th>Data Creazione</th>
            <th class="text-left" *ngIf="userService.isAdmin">Utente</th>
            <th>Azioni</th>
          </tr>
          <tr *ngFor="let visit of visits">
            <td>
              {{visit.name}}
            </td>
            <td>
              {{visit.dateCreated | date:'longDate'}}
            </td>
            <td class="text-left" *ngIf="userService.isAdmin">
              <span>{{visit.userUsername}}</span>
            </td>
            <td>
              <a class="btn btn-default" routerLink="/visit/{{visit.id}}">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
              <button type="button" class="btn btn-default" (click)="edit(visit)">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-danger" (click)="delete(visit)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <br/>
      <button type="button" class="btn btn-success pull-right" (click)="add()">
        Aggiungi visita
      </button>
    </div>
  </div>
  <ng-template #form>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{titleForm}} visita</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="hideForm()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="visitForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nome della visita</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <button type="submit" class="btn btn-success pull-right" [disabled]="!visitForm.valid">
          {{titleForm}}
        </button>
      </form>
    </div>
  </ng-template>
  <div class="container" *ngIf="showGraphic">
    <div class="box graph-container">
      <app-graphic [exams]="exams" [dataMetrics]="dataMetrics"></app-graphic>
    </div>
  </div>
</div>
