<h1 class="page-title">Statistiche</h1>
<div id="main">
  <div class="container">
    <div class="box clearfix">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        Sesso
        <select formControlName="gender" (change)="onChangeGender()">
          <option value="Uomo">Uomo</option>
          <option value="Donna">Donna</option>
          <option value="Bambino">Bambino</option>
        </select>
        Anni
        <nouislider [tooltips]="[true, true]" [connect]="true" [min]="0" [max]="100" [step]="10"
                    [formControl]="searchForm.controls['age']">
        </nouislider>
        <button [disabled]="searchForm.invalid" class="btn btn-primary btn-lg full">Cerca</button>
      </form>
    </div>
      <div class="box">
        <figure id="viz" class="content_inset healthgraph detailed">
        </figure>
      </div>
  </div>
</div>
